In [2]:
import numpy as np

In [3]:
#create an array
a = np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [5]:
# when using * function on list, it literally makes a multiple copy
#of the list, while an array multiplies each number by 2.
a1 = list(range(9))
a1
a1 * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
a * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16])

In [7]:
a + 2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [8]:
a1 + 2

TypeError: can only concatenate list (not "int") to list

In [9]:
a.dtype.name

'int64'

In [11]:
# convert list to array
a1 = np.array([1,2,3,4])
print(a1)

[1 2 3 4]

In [13]:
#2D array
m = np.array([[1,2],[3,4]])
m

array([[1, 2],
       [3, 4]])

In [14]:
n = np.arange(16).reshape((4,4))
n

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [17]:
n[0:3, 0:3]

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10]])

In [18]:
m

array([[1, 2],
       [3, 4]])

In [20]:
apes = ["Homo", "Pan", "Gorilla"]
for ape in apes:
    name_length=len(ape)
    first_letter=ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo is an ape. Its name starts with H
Its name has 4 letters
Pan is an ape. Its name starts with P
Its name has 3 letters
Gorilla is an ape. Its name starts with G
Its name has 7 letters

In [21]:
keys = ('name', 'age', 'food')
values = ('Monty', 42, 'spam')
zip(keys, values)
my_new_dict = dict(zip(keys, values))
my_new_dict

{'name': 'Monty', 'age': 42, 'food': 'spam'}

In [22]:
enzymes = {}
enzymes['EcoRI'] = r'GAATTC'
enzymes['AvaII'] = r'GG(A|T)CC'
enzymes.values()

dict_values(['GAATTC', 'GG(A|T)CC'])

In [23]:
enzymes.keys()

dict_keys(['EcoRI', 'AvaII'])